---
title: 'Get the Code'
layout: default.hbs
---
<div class="container mt-4 pt-4">
  <div class="row">
    <h3 class="col-sm-12">The <code>ol-stac</code> package</h3>
    <div class="col-sm-12">
      <p>
        The recommended way to use OL STAC is to work with the <a href="https://www.npmjs.com/package/ol"><code>ol-stac</code> package</a>.
      </p>
      <p>
        To add OL STAC to an existing project, install the latest with <code>npm</code>:
        <pre><code class="language-shell-session">npm install ol-stac</code></pre>
      </p>
      <p>
        If you are starting a new project from scratch, see the <a href="../doc/quickstart.html">quick start docs</a> for more information.
      </p>
    </div>
  </div>
  <div class="row">
    <h3 class="col-sm-12">Downloads for the {{ version }} release</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <tbody>
          <tr><th>Archive</th><th>Description</th></tr>
          <tr>
            <td><a href="https://github.com/m-mohr/ol-stac/releases/download/{{ version }}/{{ version }}-site.zip">{{ version }}-site.zip</a></td>
            <td>Includes examples and documentation.</td>
          </tr>
          <tr>
            <td><a href="https://github.com/m-mohr/ol-stac/releases/download/{{ version }}/{{ version }}-package.zip">{{ version }}-package.zip</a></td>
            <td>Includes sources of the library.</td>
          </tr>
        </tbody>
      </table>
      <p>
        See the <a href="https://github.com/m-mohr/ol-stac/releases/tag/{{ version }}">{{ version }} release page</a> for a changelog and any special upgrade notes.
      </p>
      <p>
        For archives of previous releases, see the <a href="https://github.com/m-mohr/ol-stac/releases/">complete list of releases</a>.
      </p>
    </div>
  </div>
</div>
